@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mountains+of+Christmas:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'Christmas Snow';
    src: url('/Christmas\ Snow.ttf');
    /* Formato EOT para IE9 compatibilidad */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grinched 2.0';
    src: url('/Grinched\ 2.0.ttf');
    /* Formato EOT para IE9 compatibilidad */
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    background-color: #f2f4f0;
    scroll-behavior: smooth;

}

.flotante {
    display: none;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
    background-color: #00bb2d;

}

.title img {
    width: 50px;
}

.title h1 {
    font-family: 'grinched 2.0';
    margin-top: 20px;
    font-size: 60px;
    font-weight: 100;
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 1px black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    width: 100%;
    background-color: #f80000;
    border-top: 2px solid #171719;
    border-bottom: 2px solid #171719;
    border-left: none;
    border-right: none;


}

.hoy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hoy img {
    width: 80px;
    height: 100px;
    z-index: 10;
    position: relative;
    top: 30px;
    filter: drop-shadow(5px 5px 1px black);

}




.regalo {
    display: flex;

}

nav a {
    color: #f2f4f0;
    font-weight: bold;
}

nav a span {
    color: rgb(255, 0, 0);
    font-size: 30px
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    -webkit-text-stroke: 1px #00bb2d;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 76vh;
    position: relative;
    background-color: #00bb2d;
}

.heroTexto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    gap: 50px;
    transition: 300ms ease all;
    color: #171719;
}

.resaltar {
    font-family: 'Mountains of Christmas', serif;
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.heroTexto h2 {
    font-family: 'Mountains of Christmas', serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}

.heroImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
    right: 130px;
}

.renos {
    position: absolute;
    bottom: 10px;
    scale: 1.4;
    left: 120%;
}

.slideres .sliderTrack .slider .amarrilla {
    width: 80px;
}

.slideres .sliderTrack .slider .bola {

    animation-name: luces;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

@keyframes luces {

    0%,
    35% {
        filter: brightness(1.8) drop-shadow(0 0 20px rgba(247, 210, 0));
    }

    45%,
    100% {
        filter: brightness(1);
    }
}








@keyframes blink {

    0%,
    6%,
    100% {
        height: 12%;
    }

    3% {
        height: 0%;
    }
}

@keyframes moveMustache {

    0%,
    40%,
    44%,
    100% {
        transform: translate(-100%, 0) rotate(25deg);
    }

    42% {
        transform: translate(-100%, 0) rotate(30deg);
    }
}

@keyframes moveMustache2 {

    0%,
    40%,
    44%,
    100% {
        transform: rotate(-25deg);
    }

    42% {
        transform: rotate(-30deg);
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
    }
}

.canvas {
    --skin: #fca;
    --eyes: #630a;
    --cheeks: #f001;
    --beard: #eee;
    --mustache: #fff;
    --suit: #a00;
    --belt: #222;
    --belt-buckle: gold;
    width: 60vmin;
    aspect-ratio: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}




.head {
    --positionX: 27%;
    --positionY: 63%;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    transform: translate(-50%, 0);
    background: var(--skin);
}

.eye {
    position: absolute;
    top: var(--positionY);
    left: var(--positionX);
    width: 12%;
    height: 12%;
    background: var(--eyes);
    border-radius: 50%;
    animation: blink 5s infinite linear;
}

.eye+.eye {
    left: auto;
    right: var(--positionX);
}

.cheek {
    position: absolute;
    top: calc(var(--positionY) + 7%);
    left: calc(var(--positionX) - 12%);
    width: 20%;
    height: 12%;
    background: var(--cheeks);
    border-radius: 50%;
}

.cheek+.cheek {
    left: auto;
    right: calc(var(--positionX) - 12%);
}

.beard {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 30%;
    height: 40%;
    background: var(--beard);
    transform: translate(-50%, 0);
    border-radius: 100% / 120% 120% 80% 80%;
}

.mustache {
    position: absolute;
    top: 88%;
    left: 52%;
    width: 40%;
    height: 40%;
    background: var(--mustache);
    border-radius: 100% 10% 100% 0;
    transform-origin: top right;
    transform: translate(-100%, 0) rotate(25deg);
    animation: moveMustache 7s infinite linear;
}

.mustache+.mustache {
    left: 48%;
    border-radius: 10% 100% 0 100%;
    transform-origin: top left;
    transform: rotate(-25deg);
    animation: moveMustache2 7s infinite linear;
}

.hat {
    position: absolute;
    width: 98%;
    height: 80%;
    background: var(--suit);
    border-radius: 100% 20% 0 0;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 0) rotate(1deg);
}

.hat::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -17%;
    left: -5%;
    width: 110%;
    height: 40%;
    border-radius: 100% / 50%;
    transform: rotate(-2deg);
    background: radial-gradient(200% 100% at 50% 100%, #0000 30%, var(--mustache) 31%);
}

.hat::after {
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top: -15%;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--beard);
}

.body {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: var(--suit);
    border-radius: 100% / 150% 150% 25% 25%;
    transform: translate(-50%, 0);
    background-image:
        /* buttons */
        radial-gradient(circle at 50% 36%, var(--belt) 2.75%, #0000 3%),
        radial-gradient(circle at 50% 48%, var(--belt) 3%, #0000 3.25%),
        radial-gradient(circle at 50% 60%, var(--belt) 2.75%, #0000 3%),
        radial-gradient(circle at 50% 90%, var(--belt) 2.25%, #0000 2.5%),
        /* belt */
        radial-gradient(circle at 50% -50%, transparent 75%, var(--belt) 75.1% 83%, transparent 83.1%),
        /* flap */
        linear-gradient(to right, transparent 42%, white 42.2% 57%, transparent 57.2%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 51% 100%, 50% 96%, 49% 100%, 0% 100%);
}

.belt {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    height: 15%;
    background:
        linear-gradient(var(--belt-buckle) 0 0) 75% 50% / 25% 12% no-repeat,
        linear-gradient(var(--belt) 0 0) 50% 50% / 85% 80% no-repeat,
        var(--belt-buckle);
}


.arms {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 65%;
    height: 40%;
    background: #a00;
    border-radius: 100% / 170% 170% 25% 25%;
    background-image: linear-gradient(transparent 20%, #0003);
}

.hand {
    --positionX: 18%;
    position: absolute;
    top: 70%;
    left: var(--positionX);
    width: 13%;
    height: 13%;
    background: var(--belt);
    border-radius: 50%;
}

.hand+.hand {
    left: auto;
    right: var(--positionX);
}

.leg {
    position: absolute;
    top: 75%;
    left: 29%;
    width: 19%;
    height: 25%;
    background: var(--suit);
    transform: skew(2deg);
    background-image: linear-gradient(#0002, transparent 70%, var(--belt) 0);
}

.leg+.leg {
    left: 52%;
}

.leg::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -6%;
    width: 110%;
    height: 20%;
    background: black;
    border-radius: 50% / 100% 100% 0 0;
}

.leg+.leg::after {
    left: -4%;
}











.heroTexto a {
    padding: 4px 12px;
    letter-spacing: 3px;
    box-shadow: 6px 6px black;
    background-color: red;
    color: #f2f4f0;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    border-radius: 15px;
    transition: 300ms ease all;
    font-family: 'grinched 2.0';

}





.boton {
    position: relative;
}

.button-hat {
    position: absolute;
    top: -15px;
    left: -17px;
    height: 44px;
    filter: drop-shadow(0 2px 1px rgb(0 0 0 / .25));
}










.heroTexto a:hover {
    background-color: #171719;
    box-shadow: 5px 5px rgb(255, 255, 255);
}


.heroImg img {
    width: 150px;
}




/*slider*/

.slideres {
    display: flex;
    padding: 5px 0;
    overflow: hidden;
    color: #171719;
    border-top: 2px solid #171719;
    border-bottom: 2px solid #171719;
    border-left: none;
    border-right: none;
}

.sliderTrack {

    display: flex;
    align-items: center;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;

}

.slider {
    text-align: center;

}

.slider .amarrilla {
    width: 70px;
}

.slider img {
    width: 90px;
    margin: 0 20px;
}


@keyframes scroll {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/*porque*/

.titulo {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    width: 600px;
    padding: 5px;


}

.marco {
    margin: 30px auto;
    text-align: center;
    width: 100%;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    background: #ad7bff;
    box-shadow: 6px 6px black;
    text-transform: uppercase;

}

.marco h2 {
    font-size: 30px;
}


.conocenos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    height: 238px;
    margin: 20px;
    padding: 15px;
    padding-top: 0;
    border: 2px solid black;
    box-shadow: 6px 6px black;
}

.juntos {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.info img {
    width: 80px;
    height: 80px;
}

/*redes*/

.redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 50px;
    text-align: center;
    background: red;
    box-shadow: 6px 6px black;
    text-transform: uppercase;
}

.insta {
    z-index: 100;
    position: relative;
    margin-top: 400px;
    filter: drop-shadow(30px 0px 8px rgba(0, 0, 0, 0.5));
}

.tik {
    width: 100px;
    z-index: 100;
    position: relative;
    margin-top: 400px;
    filter: drop-shadow(-30px 0px 8px rgba(0, 0, 0, 0.5));
}

.servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    border-top: 2px solid #171719;
    border-bottom: 2px solid #171719;
    border-left: none;
    border-right: none;
    margin: 50px auto 0px;
    padding: 50px;
    background-color: #edde38;
    position: relative;

}

.servicio {
    width: 300px;
    height: 350px;
    border: 1.5px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.servicio img {
    position: relative;
    width: 80px;
    bottom: 60px;
    right: 40px;

}

.item {
    width: 100%;
    height: 250px;
    background-color: #ad7bff;
    position: relative;
    bottom: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.servicio:nth-of-type(2) .item h4 {
    margin-top: 50px;
}

.servicio:nth-of-type(2) .item {
    background-color: #7fbc8c;
}

.servicio:nth-of-type(3) .item {
    background-color: #ff69b4;
}

.servicio:nth-of-type(4) .item {
    background-color: #69d2e7;
}

.servicio:nth-of-type(5) .item {
    background-color: #9723c9;
}

.servicio:nth-of-type(6) .item {
    background-color: #e3a018;
}

.item button {
    width: 100px;
    padding: 10px 10px;
    box-shadow: 6px 6px black;
    background-color: red;
    color: #f2f4f0;
    transition: 300ms all ease;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-color: #000000;
}

.item h4 {
    margin-top: 20px;
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
}

.item button:hover {
    transform: translateX(6px) translateY(6px);
    box-shadow: 0px 0px black;

}

.consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.consulta h3 {
    font-size: 26px;
    color: #000000;
    /* -webkit-text-stroke: 1px black; */
}

.consulta h4 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    align-items: center;
    gap: 5px;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.consulta h4 .gratis {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(225, 19, 19);
}

.coordinar {
    padding: 4px 8px;
    background-color: #00bb2d;
    box-shadow: 5px 5px 0px black;
    transition: 0.3s all ease;
}

.coordinar:hover {
    transform: translateX(6px) translateY(6px);
    box-shadow: 0px 0px black;
    outline: 2px solid black;
    border-radius: 5px;
}

.coordinar:hover a {
    color: black;
}


.coordinar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fdfffc;
    font-weight: bold;

}

.coordinar a img {
    width: 30px;
}

.gracias {
    width: 90%;
    height: 20vh;
    background-color: red;
    box-shadow: 6px 6px black;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 20px;
}

.color {
    color: #edde38;
}

.gracias img {
    width: 250px;
    margin-top: 40px;
    filter: drop-shadow(-12px 0px 8px rgba(0, 0, 0, 0.5));
}

/*modal*/


/* Estilo base del modal */
.modal {
    display: none;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    top: 10%;
    margin: 0 auto;
    position: fixed;
    transform: scale(0.5);
}

.modal h2 {
    margin-bottom: 20px;
}

.modal p {
    width: 70%;
    margin-bottom: 20px;

}

.pepe {
    position: relative;
    left: 30%;
    text-align: end;
    font-weight: 600;
}

.gratiss {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    margin-left: 80%;
}




.modal[open] {
    display: block;
    animation: scaleAnimation 0.4s ease-in-out forwards;/
}


@keyframes scaleAnimation {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 8px;
    background-color: rgb(255, 0, 0);
    color: #f2f4f0;
    font-size: 50px;
    height: 60px;

    border-radius: 10px;
    outline: 2px solid #000000;
    transition: 0.3s all ease;
}

.close-btn:hover {
    color: #010101;

}




.amigos {
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 5px;
    gap: 50px;
}

.amigo {
    display: flex;
    width: 480px;
    height: 380px;
    border: 2px solid #171719;
    padding: 20px;
    box-shadow: 8px 8px black;
    background-color: #69d2e7;
    flex-direction: column;
    justify-content: space-between;

}

.testimonio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonio h2 {
    font-weight: 900;
    font-size: 30px;
}

.son {
    color: rgb(255, 234, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 24px;
    letter-spacing: 3px;
    position: relative;
    bottom: px;
}


.lin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lin img {
    width: 40px;
}

.amigo .lin a img.chico {
    width: 46px;
    height: 46px;
}

.iconos A .chico {
    width: 46px;
    height: 46px;
    margin-left: -3px;
}

.nada {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ffffff;
}


footer {
    width: 100%;
    height: 100%;
    padding: 35px;
    margin: 0 auto 50px;
    background-color: #edde38;
    box-shadow: 0px 8px black;
    border-top: 2px solid black;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.frase {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.formulario {

    display: flex;
    align-items: center;
    gap: 40px;
    width: 50%;
    justify-content: center;

}

.envio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
}

.envio input {
    text-align: right;
}


.aviso {
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    text-transform: uppercase;
    position: absolute;
    color: #000000;
    /* -webkit-text-stroke: 1px black; */
}


.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #010101;
}

.field input {
    display: block;
    min-width: 250px;
    height: 30px;
    line-height: 1.5;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: 5px 5px 0px black;
    padding: 10px;

}

textarea {
    border-radius: 20px;
    box-shadow: 5px 5px 0px black;
    padding: 10px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 5px 5px 0px black;
    margin-left: 160px;
}

input[type="submit"]:hover {
    color: black;
}


.contac {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ico {
    display: flex;
    align-items: center;

}


.icono {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.iconos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

}

.iconos a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    color: #000000;
    font-weight: 600;
}

.iconos a:hover {
    color: rgb(255, 0, 0);
}

.icono img {
    width: 40px;
}

.ico p {
    font-size: 20px;
    font-weight: 600;
}

.divisor {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mc {
    align-items: center;
}











@media (min-width: 768px) and (max-width: 1025px) {
    .gracias h2 {
        padding: 20px 50px;
    }

    .conocenos {

        flex-wrap: wrap;
    }

    nav .flotante {
        display: none;
    }

}

@media (min-width:320px) and (max-width: 767px) {


    nav {
        height: 5vh;
        /* background-color: #ff7b7b; */
        background-color: #f80000;
        width: 100%;

    }

    .hoy {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .hoy img {
        width: 40px;
        height: 60px;
        top: 10px;
        filter: drop-shadow(5px 5px 1px black);
    }


    .navbar {
        display: none;

    }

    .title {
        height: 10vh;
        background-color: #00bb2d;
    }

    .title h1 {
        display: flex;
        align-items: center;
        -webkit-text-stroke: 1px black;
        font-size: 35px;
        height: 10vh;
        gap: 7px;
        margin-top: 10px;
    }

    .regalo {
        display: flex;
        border: none;
        width: 50px;
    }

    .hero {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        overflow: hidden;
    }

    .heroTexto {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        width: 92%;
    }

    .heroTexto h2 {
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
        font-weight: 900;
        letter-spacing: 0px;

    }

    .resaltar {
        font-size: 22px;
        font-weight: 900;
    }

    .heroTexto a {
        font-size: 22px;
        margin-top: -25px;
    }

    .heroImg {
        width: 300px;
        height: 300px;
        right: 0;
        bottom: 10px;
    }

    .renos {
        left: 90%;
        z-index: 2;
        bottom: 60px;
    }

    .contenedorArbol .arbol {
        bottom: 25px;
        /* width: 380px; */
        scale: 0.9;
    }


    .slideres {
        height: 70px;

    }

    .slider img {
        width: 70px;
        margin-top: 5px;
    }

    .titulo {
        width: 310px;
        padding: 5px 8px;
        margin: 50px auto 30px;
    }

    .marco {
        width: 280px;
        padding: 5px 8px;
        margin-top: 5px;
        margin-bottom: 9px;
    }

    .marco h2 {
        font-size: 20px;
    }

    .info {
        height: 100%;
    }


    .redes {
        width: 90%;
        margin: 40px auto 0px;
        padding: 0;
    }

    .redes h2 {
        font-size: 13px;
        width: 100%;
    }

    .insta {
        z-index: 100;
        position: relative;
        margin-top: 700px;
        width: 60px;

    }

    .tik {
        z-index: 100;
        position: relative;
        margin-top: 700px;
        width: 60px;

    }

    .servicios {
        margin-top: 30px;
        width: 100%;
    }

    .servicio {
        width: 280px;
    }

    .servicio img {
        width: 80px;
        bottom: 50px;
        right: 40px;
    }

    .modal {
        width: 90%;
        top: auto;
        bottom: 5%;
    }

    .modal p {
        width: 100%;
    }

    .consulta h3 {
        text-align: center;
        width: 120%;
        font-size: 20px;

    }

    .consulta h4 {
        text-align: center;
        font-size: 14px;
    }

    .coordinar img {
        width: 60px;
    }

    .gracias {
        height: 100px;
        width: 90%;
        padding-left: 10px;
        margin: 30px auto 0;
    }

    .gracias h2 {
        font-size: 14px;

    }

    .gracias img {
        width: 150px;
    }

    .amigo {
        width: 95%;
        height: 100%;

    }

    .amigos {
        margin-top: 0;
        margin-bottom: 0px;
    }

    .foto img {

        width: 70px;
        height: 70px;
    }

    .testimonio h2 {
        font-size: 22px;
    }

    .son {
        font-size: 20px;
        font-weight: 900;
        bottom: 10px;
    }

    footer {
        width: 100%;
        padding: 8px;
        margin-top: 50px;
    }

    .flotante {
        display: flex;
        position: fixed;
        height: 42px;
        border: 2px solid black;
        width: 94%;
        left: 3%;
        z-index: 999999999;
        padding: 4px;
        border-radius: 10px;
        bottom: 50px;
        gap: 10px;
        font-weight: bold;
        text-transform: uppercase;


        background: #ad7bff;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(4px);

    }

    .flotante a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }



    .heroTexto a {
        margin-bottom: 20px;
    }


    .contac {
        flex-direction: column;
    }

    .divisor {
        flex-direction: column;
    }

    .iconos {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;
        gap: 20px;
    }

    .iconos a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 400;
        font-size: 12px;

    }

    .ico img {
        width: 40px;
    }

    .ico p {
        font-size: 13px;
    }


    .frase {
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }

    textarea {
        width: 300px;
    }

    .formulario {
        flex-wrap: wrap;
    }

    input[type="submit"] {
        margin-left: 195px;
    }

    .aviso {
        text-align: center;
        position: inherit;
    }

    .envio {
        margin-top: -10px;
    }

    .gratiss {
        width: inherit;
        margin-left: 10px;


    }

    .pepe {
        width: inherit;
        left: inherit;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }

}